---
 const personalImageAlt = "Nicolas Basso"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row mb-[100px]">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Nicolas Basso. Empecé en la
      programación hace 2 años. Actualmente estoy <strong
        >desarrollando aplicaciones web de manera freelance</strong
      > me gustaria encontrar un grupo de trabajo para aplicar y reforzar mis conocimientos.
    </p>

    <p>
      Como desarrollador cuento con un <strong>título de Full Stack Development</strong> y he adquirido habilidades sólidas
       a lo largo de mi educación y proyectos personales, ahora mismo me encuentro cursando Full Stack Open,
        curso realizado por la universidad de helsinki para seguir fortaleciendo mis habilidades.
    </p>
  </div>

  <img width="200" height="200" src="/nicolasbasso.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>